body {
    /*background-color: #fafafa*/;
    background-color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

/*.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}*/

/*.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}*/

/*.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}*/

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.dropdown-menu {
    width: 230px;
    padding: 10px;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 15px;
}

#dropdownMenuButton i {
    font-size: 2rem;
}

.dropdown-menu button {
    display: block;
    margin: 0 auto;
    width: 30px;
}

#legal-info {
    font-size: 0.75rem;
    text-align: center;
    font-weight: normal;
}


#intro-container {
 margin: auto;
 width: 500px;
}

#welcome-copy-container {
    margin-top: 60px;
}

#welcome-copy-container h1 {
    font-size:  50px;
    font-weight: 800;
    letter-spacing: 0;
}

#welcome-copy-container p {
    font-size:  1.25rem;
    padding-bottom: 20px;
}

#join-ctas-container {
    margin: auto;
    text-align: center;
}

.profile-container {
    width: 45%;
    margin: 0 auto;
}

.profile-container .btn-div button, .profile-container .btn-div a {
    padding: 7px 30px;
    width: 100%;
}

/*.profile-container .cancel-btn a {
    width: 100%;
}*/

.profile-container .cancel-btn {
    background-color: #FFF;
    color: #333;
    border: 1px solid #333;
}

.profile-container .btn-div:nth-child(2) {
    text-align: right;
}

.messages-container .export-div {
    text-align: right;
}

.messages-container .export-btn {
    padding: 7px 30px;
}

.messages-container input {
    height: 41px;
    padding-left: 20px;
}

.about-container .article {
    text-align: center;
}

.about-container h5 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.point-contact {
    text-align: center;
    margin-top: 200px;
}

.community-container {
    width: 70%;
    margin: 0 auto;
}

.community-container .form-group .custom-control {
    margin-top: 38px;
}

.channels-container ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: -43px;
}

.channels-container ul li {
    color: #333;
    background-color: #F2F2F2;
    font-weight: bold;
    list-style-type: none;
    margin: 4px 3px;
    padding: 5px 8px;
    border: 1px solid #E3E1E1;
    border-radius: 5px;
}

.channels-container ul li i {
    font-size: 12px;
    color: #808080;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #DFDFDF;
    padding: 3px 5px;
    justify-content: center;
    margin-left: 8px;
    border-radius: 50%;
}

.community-container .btn-div button {
    padding: 7px 30px;
    width: 65%;
}

.community-container .cancel-btn {
    background-color: #FFF;
    color: #333;
    border: 1px solid #333;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.tableFixHead {
    overflow: auto;
    font-size: 14px;
    height: 500px;
}

.tableFixHead tbody tr, .tableFixHead thead tr{
    background-color: #FFF;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}


/*table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}
th {
    background: #eee;
}
*/


/* Light mode */
nav {
    /*background-color: #EDEDED;*/
    background-color: #FFF;
}

nav a {
    color: black !important;
}
nav a:hover {
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
}

/*thead {
    background-color: #70E000;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #70E000;
}

/* Dark mode */
.dark-mode-nav {
    background-color: #001D3D;
    color: #EDEDED;
}
.dark-mode-nav a {
    color: #EDEDED !important;
}
.dark-mode-nav a:hover {
    text-decoration: none;
    border-bottom: #FDC500 0.125em solid;
}

.dark-mode-page-title {
    color: #EDEDED;
}

/*.dark-mode-table-headers {
    background-color: #18392B;
}
*/
.dark-mode-table-headers tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #18392B;
}





.dark-mode-body {
    background-color: #11296B;
    color: #EDEDED;
}
.dark-mode-footer {
    background-color: #11296B;
    color: #EDEDED;
}


.dark-mode-primary-button {
    background-color: black;
    color: white;
}
.dark-mode-secondary-button {
    background-color: black;
    color: white;
}

.dark-mode-menu {
    background-color: #001D3D;
}


.alert ul {
    list-style: none;
}


main {
    min-height: calc(100vh - 60px);
}

footer .copyright {
    height: 60px;
    font-size: 15px;
}