{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

    <div class="community-container mt-4 mb-4">
        {% if user.is_authenticated %}
            <div class="card">
                {% if form.non_field_errors %}
                    <div class="alert alert-dismissible alert-danger">
                        <strong> {{form.non_field_errors}} </strong>
                    </div>
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-header"> 
                        <h3 class="pt-2"> {{ user.community_profile_id.community_name }} </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label for="id_community_name"> Community name: </label>
                                <input type="text" class="form-control" name="community_name" placeholder="Enter community name" value={{form.community_name.value}} max_length="100" id="id_community_name">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="id_promotion_threshold"> Promotion threshold: </label>
                                <input type="number" class="form-control" name="promotion_threshold" max_length="100" value={{form.promotion_threshold.value}} id="id_promotion_threshold" required>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="enable_twitter_handle_request" id="id_enable_twitter_handle_request" {% if form.enable_twitter_handle_request.value %} checked {% endif %}>
                                    <label class="custom-control-label" for="id_enable_twitter_handle_request"> Twitter handle request </label>
                                </div>
                            </div>
                        </div>
                        <label> Airtable credentials: </label>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="airtable_api_key" placeholder="Enter Airtable API key" max_length="100" id="id_airtable_api_key" value={{form.airtable_credentials.value}}>
                                </div>  
                                <div class="form-group">
                                    <input type="text" class="form-control" name="airtable_base" placeholder="Enter Airtable base id" max_length="100" value={{form.airtable_credentials.value}} id="id_airtable_base">
                                </div>  
                                <div class="form-group">
                                    <input type="text" class="form-control" name="airtable_table_name_top_messages" placeholder="Enter top messages table name" max_length="100" value={{form.airtable_credentials.value}} id="id_airtable_table_name_top_messages">
                                </div>
                                <!--
                                <div class="form-group">
                                    <input type="password" class="form-control" name="airtable_table_name_garden" placeholder="Enter garden messages table name" max_length="100" id="id_airtable_table_name_garden">
                                </div>
                                --> 
                            </div>
                        </div>
                        <!--                         
                        <label> Monitored guilds: </label>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group guilds-container">
                                    <input type="text" class="form-control" name="monitored_guilds" placeholder="Press enter or add a comma after each guild name" id="monitored_guilds">
                                    <ul id="guilds_list"></ul>
                                </div>           
                            </div>
                            <div class="col-4">
                            </div>
                        </div> -->
                        
                        <label for="id_monitored_channels"> Monitored channels: </label>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group channels-container">
                                    <input type="text" class="form-control" name="monitored_channels" placeholder="Press enter or add a comma after each channel name" id="id_monitored_channels" value={{form.monitored_channels.value}}>
                                    <ul id="channels_list"></ul>
                                </div>           
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="btn-div col-lg-6">
                                <button type="submit" class="btn btn-light cancel-btn"> Cancel </button>
                            </div>
                            <div class="btn-div col-lg-6 text-right">
                                <button type="submit" class="btn btn-dark save-btn"> Save </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>


<!-- <div>
    <legend> Community Profile Information: </legend>

    {% if user.is_authenticated %}
        {% if form.non_field_errors %}
            <div class="alert alert-dismissible alert-danger">
                <strong>{{form.non_field_errors}}</strong>
            </div>
        {% endif %}

        <p>This page let's you set up your community.</p>

        <form method="POST">
            {% csrf_token %}

            <p>
                <label for="id_community_name">Community name:</label>
                <input type="text" name="community_name" placeholder="Enter community name" value={{form.community_name.value}} maxlength="100" id="id_community_name">
            </p>
            <p>
                <label for="id_airtable_credentials">Airtable credentials:</label>
                <textarea name="airtable_credentials" cols="40" rows="5" id="id_airtable_credentials">{{form.airtable_credentials.value}}
                </textarea>

                <span class="helptext">The Airtable key, base name, and table name associated with Stigsite</span>
            </p>

            <p>
                <label for="id_monitored_guilds">Monitored guilds:</label>
                <textarea name="monitored_guilds" cols="40" rows="5" id="id_monitored_guilds">
                {{form.monitored_guilds.value}}
                </textarea>

                <span class="helptext">A list of Discord guilds (servers) the site will listen to</span>
            </p>

            <p>
                <label for="id_promotion_threshold">Promotion threshold:</label>
                <input type="number" name="promotion_threshold" value={{form.promotion_threshold.value}} required id="id_promotion_threshold">
            </p>
            <p>
                <label for="id_enable_twitter_handle_request">Enable twitter handle request:</label>
                <input type="checkbox" name="enable_twitter_handle_request" id="id_enable_twitter_handle_request"{% if form.enable_twitter_handle_request.value %} checked {% endif %}>

            </p>
            <input type="submit" name="submit" value="Update">
        </form>

    {% endif %}
</div> -->



{% endblock content %}
