{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

<div class="about-container mt-4">

    <h3 class="text-center mb-5"> About </h3>

    <div class="row">
        <div class="col-4 article">
            <div>
                <img src="{% static 'stigapp/images/tecround.png' %}" alt="Token Engineering Commons logo with the letters TEC projecting forward and upward" width=50%>
            </div>
            <div class="mt-4">
                <h5><a href ="https://tecommons.org/" target="_blank"> Token Engineering Commons </a></h5>
            </div>
        </div>
        <div class="col-4 article">
            <div>
                <img src="https://uploads-ssl.webflow.com/62ca2f7237b2815119b970f9/62cefc9f5bc05e110328f101_Group%203020(1).svg" alt="Token Engineering Commons logo with the letters TEC projecting forward and upward" width=70%>
            </div>
            <div class="mt-4">
                <h5><a href="https://www.csensemakers.com/" target="_blank"> Common Sense[makers] </a></h5>
            </div>
        </div>
        <div class="col-4 article">
            <div>
                <img src="https://daostack.io/static/media/daostack_icon_2e2e2e_thin.90807b23.svg" alt="Token Engineering Commons logo with the letters TEC projecting forward and upward" width=35%>
            </div>
            <div class="mt-4">
                <h5><a href="https://daostack.io" target="_blank"> DAOstack </a></h5>
            </div>
        </div>
    </div>
</div>

<div class="point-contact">
    <p> Point of Contact: greg@tangibleai.com </p>
    <p> 
        Read our <a href="{% url 'privacy_policy' %}"> Privacy Policy </a> and <a href="{% url 'terms_of_service' %}"> Terms of Service </a>
    </p>
</div>

{% endblock content %}
