{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'stigapp/main.css' %}">

    <link rel="icon" href="{% static 'stigapp/images/favicon.ico' %}">

    <title>StigApp | by DAOstack</title>


</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="https://uploads-ssl.webflow.com/62ca2f7237b2815119b970f9/62cefc9f5bc05e110328f101_Group%203020(1).svg" alt="" width="60">
                <!-- <img src="{% static 'stigapp/images/favicon.ico' %}" height="40" alt="Common Sense[makers]" loading="lazy"/> -->
                </a>
            <div>
            <div class="navbar-nav mr-auto">
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <div class="dropdown">
                        <span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-list"></i>
                        </span>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
<!--                             <button type="button" onclick="SwitchModes()"><span>
                                <i class="bi bi-moon-fill" id="dark-mode-icon"></i>
                            </span></button> -->
                            <!-- Change this to use i class instead -->
                            <!-- <div class="dropdown-divider"></div> -->
                            {% if user.is_authenticated %}
                                {% if user.is_staff or user.is_admin %}
                                    <a class="dropdown-item" href="/admin">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile' pk=user.pk %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'messages' %}">
                                    Messages 
                                </a>
                                <a class = "dropdown-item" href = "{% url 'community-profile' pk=user.community_profile_id.id %}">
                                    Community Preferences
                                </a>
                                <!-- <a class="dropdown-item" href="{% url 'garden_messages' %}">Garden Messages</a> -->
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'about' %}">About</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Join Stigflow</a>
                            {% endif %}
                            <!-- 
                            <div class="dropdown-divider"></div>
                             <div id="legal-info">
                                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                                <a href="{% url 'terms_of_service' %}">Terms of Service</a>
                            </div> 
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>


    <footer class="border-top">
        <div class="container mt-4 mb-3">
            <div class="row">
                <div class="col-6">
                    <a href ="https://www.csensemakers.com/" target="_blank">
                        <!-- <img src="{% static 'stigapp/images/favicon.ico' %}" alt="Common Sense[makers] logo with the uppercase letters C, S and a lowercase m in brackets" height=50px> -->
                        <img src="https://uploads-ssl.webflow.com/62ca2f7237b2815119b970f9/62cefc9f5bc05e110328f101_Group%203020(1).svg" alt="" width="60">
                    </a>
                </div>
                <div class="col-6 text-right copyright">
                    {% if user.is_authenticated %}
                        <span> {{ user.community_profile_id.community_name }} </span><br/>
                    {% else %}
                        <span> TEC's Common Sense[making]<span><br/>
                    {% endif %}
                    <span> Powered by <a href="https://daostack.io/" target="_blank"> DAOstack </a></span>
                </div>
            </div>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

        function SwitchModes() {
            const body = document.body;
            const nav = document.querySelector('nav');
            const footer = document.querySelector('footer');
            const pageTitle = document.querySelector('h2');
            const columnHeaders = document.querySelector('thead');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            const modeIcon = document.querySelector('#dark-mode-icon')

            modeIcon.classList.toggle('bi-moon');
            modeIcon.classList.toggle('bi-moon-fill');
            body.classList.toggle('dark-mode-body');
            nav.classList.toggle('dark-mode-nav');
            footer.classList.toggle('dark-mode-footer');
            columnHeaders.classList.toggle('dark-mode-table-headers');
            dropdownMenu.classList.toggle('dark-mode-menu');
            pageTitle.classList.toggle('dark-mode-page-title');
        }

        function search_by_author() {
            let input, filter, table, tr, td, i, txtValue;
            input = document.getElementById('search-input');
            filter = input.value.toUpperCase();
            table = document.getElementById('messages-table');
            tr = table.getElementsByTagName('tr');
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }
            }       
        }

        const channelList = document.getElementById('channels_list');
        const input = document.getElementById('id_monitored_channels');
        let channels = [];

        function create_channel() {
            // remove the previous guilds from the list 
            channelList.querySelectorAll('li').forEach(li => li.remove());
            // extract one guild at a time from the list
            channels.slice().reverse().forEach(channel =>{
                let channelContainer = `
                    <li> 
                        ${channel} <i class="bi bi-x-lg" onclick="remove_channel(this, '${channel}')"></i>
                    </li>
                `;
                // add channel next to the previous channel
                channelList.insertAdjacentHTML("afterbegin", channelContainer);
            });
        }


        function add_channel(e) {
            if (e.key == "Enter") {
                // get the submitted input value
                let channel = e.target.value;
                if (channel.length > 1) {
                    channel.split(',').forEach(channel => {
                        // add unique channel to the list
                        if (!channels.includes(channel)) {
                            channels.push(channel);
                            // add channel to the DOM
                            create_channel();
                        }
                    });
                }
                e.target.value = channels;
                console.log(channels);
            }
        }


        function remove_channel(element, channel){
            let index  = channels.indexOf(channel);
            // use spread operator to copy the channels list without loop
            channels = [...channels.slice(0, index), ...channels.slice(index + 1)];
            element.parentElement.remove();
            console.log(channels);
        }

        input.addEventListener("keyup", add_channel);

    </script>

    {% block javascript %}{% endblock %}

</body>
</html>
