{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

<div id="intro-container">

    <div id="welcome-copy-container">
        <h1 class = "text-center"> Communities thrive in understanding </h1>
        <p class = "text-justify mt-4">
            Your community and its important ideas should not be limited by platforms optimized for keeping your attention focused on them. Make sense of what's important to your community across communities!
        </p>
    </div>

    <div id="join-ctas-container">
        {% if user.is_authenticated %}
        {% else %}
            <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}"> 
                <span><i class="bi bi-discord pr-1"></i></span>
                <span> Join us </span>
            </a>
        {% endif %}
    </div>
</div>
{% endblock content %}
